<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ドリンク詳細</title>
<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{css/style.css}" />
<!--google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mt-5">ドリンク</h2>
				<table class="table table-striped">
					<tr>
						<th>残数順番ID</th>
						<td th:text="${item.quantity_id}"></td>
					</tr>
					<tr>
						<th>Code</th>
						<td th:text="${item.item_code}"></td>
					</tr>
					<tr>
						<th>名前</th>
						<td th:text="${item.drink_name}"></td>
					</tr>
					<tr>
						<th>規格</th>
						<td th:text="${item.specification}"></td>			
					</tr>
					<tr>
						<th>値段</th>
						<td th:text="${item.price}"></td>
					</tr>
					<tr>
						<th>在庫</th>
						<td th:text="${item.stock}"></td>		
					</tr>
					<tr>
						<th>発注数</th>
						<td th:text="${item.order_quantity}"></td>		
					</tr>
					<tr>
						<th>平日理想在庫数</th>
						<td th:text="${item.ideal_stock_weekday}"></td>		
					</tr>
					<tr>
						<th>休日理想在庫数</th>
						<td th:text="${item.ideal_stock_weekend}"></td>		
					</tr>
					<tr>
						<th>商品カテゴリー</th>
						<td th:text="${item.drink_category}"></td>		
					</tr>
				</table>
				<div class="d-flex justify-content-between align-items-center mt-3">
				<a th:href="@{/items/edit/{id}(id=${item.id})}" class="btn btn-primary">編集</a>
				<a th:href="@{/items}" class="btn btn-primary">ドリンク一覧</a>
				<a th:href="@{/}" class="btn btn-primary mr-2">メニュー</a>
				<form th:action="@{/items/delete/{id}(id=${item.id})}" method="post">
					<input type="submit" value="削除" class="btn btn-danger"/>
				</form>
				</div>
			</div>
		</div>
	</div>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>