<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mt-5">注文確認</h2>
				<!--メッセージの表示-->
				<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>商品名</th>
							<th>単価</th>
							<th>発注数</th>
							<th>小計</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order : ${orderForm.orders}">
							<td th:text="${order.drink_name}"></td>
							<td th:text="${order.price}"></td>
							<td th:text="${order.order_quantity}"></td>
							<td th:text="${order.amount}"></td>
						</tr>
					</tbody>
				</table>
				<div class="text-right">
					<strong>合計金額: </strong><span th:text="${totalAmount}"></span>円
				</div>
				<div>
					<a th:href="@{/orders}" class="btn btn-primary">酒残へ戻る</a>
				</div>
				<hr />
				<div>
					<a th:href="@{/}" class="btn btn-primary">メニューへ戻る</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>