<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>発注フォーム</title>
<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mt-5">発注フォーム</h2>
				<form th:action="@{/orders/update}" th:object="${orderForm}" method="post">
					
					<table class="table table-striped">
						<thead>
							<tr>
								<th>商品名</th>
								<th>規格</th>
								<th>在庫</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order, iterStat : ${orderForm.orders}">
								<input type="hidden" th:field="*{orders[__${iterStat.index}__].item_code}" />
								<td th:text="${order.drink_name}"></td>
								<td th:text="${order.specification}"></td>
								<td>
									<input type="number" th:field="*{orders[__${iterStat.index}__].stock}" class="form-control" />
								</td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-primary">確認画面へ</button>
					<div>
						<a th:href="@{/}" class="btn btn-primary">メニューへ戻る</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
