<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>従業員フォーム</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--タイトル：登録 or 編集-->
				<h2 th:if="${authenticationForm.isNew}" class="mt-5">新規従業員登録</h2>
				<h2 th:unless="${authenticationForm.isNew}" class="mt-5">従業員編集</h2>
				<!-- アクション：登録 or 編集 -->
				<form th:action="${authenticationForm.isNew} ? @{/users/save} : @{/users/update}"
					th:object="${authenticationForm}" method="post">
					<table class="table table-striped">
							<th>名前</th>
							<td><input type="text" th:field="*{displayname}" class="form-control">
								<span th:if="${#fields.hasErrors('displayname')}"
									th:errors="*{displayname}" class="alert alert-danger" role="alert">
									エラーがあれば表示
								</span>
							</td>
						</tr>
						<tr>
							<th>ユーザーネーム</th>
							<td><input type="text" th:field="*{usernameInput}" class="form-control">
								<span th:if="${#fields.hasErrors('usernameInput')}"
								th:errors="*{usernameInput}" class="alert alert-danger" role="alert">
									エラーがあれば表示
								</span>
							</td>
						</tr>
						<tr>
							<th>パスワード</th>
							<td><input type="text" th:field="*{passwordInput}" class="form-control">
								<span th:if="${#fields.hasErrors('passwordInput')}"
								th:errors="*{passwordInput}" class="alert alert-danger" role="alert">
									エラーがあれば表示
								</span>
							</td>
						</tr>
						<tr>
							<th class="form-label">権限</th>
							<td>
								<select id="authority" th:field="*{authority}" class="form-select">
									<option value="USER" th:text="#{USER}">USER</option>
									<option value="ADMIN" th:text="#{ADMIN}">ADMIN</option>
								</select>
								<span th:if="${#fields.hasErrors('authority')}"
									th:errors="*{authority}" class="alert alert-danger" role="alert">
									エラーがあれば表示
								</span>
							</td>
						</tr>
					</table>
					<div class="d-flex justify-content-between align-items-center mt-3">
						<a th:href="@{/users}" class="btn btn-primary ml-3">戻る</a>
						<!--ボタン：登録 or 編集-->
						<input th:if="${authenticationForm.isNew}" type="submit" value="登録" class="btn btn-primary"/>
						<input th:unless="${authenticationForm.isNew}" type="submit" value="更新" class="btn btn-primary"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	 <!-- Bootstrap JS, Popper.js, and jQuery -->
	 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
