<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakezan.repository.ItemsMapper">
	<!-- 全件検索 -->
	<select id="selectAll" resultType="com.example.sakezan.entity.Item">
		SELECT * FROM Items
	</select>
	<!-- 1件検索 -->
	<select id="selectByItem_code" resultType="com.example.sakezan.entity.Item">
		SELECT * 
    	FROM items 
    	WHERE item_code = #{item_code}
	</select>
	<!-- 登録 -->
	<insert id="insert">
		INSERT INTO items (item_code, drink_name, specification, price, stock, ideal_stock_weekday, 
		ideal_stock_weekend, drink_category) 
    	VALUES ( #{item_code}, #{drink_name}, #{specification}, #{price}, #{stock}, 
    	#{ideal_stock_weekday}, #{ideal_stock_weekend}, #{drink_category, typeHandler=com.example.sakezan.typehandler.DrinkCategoryTypeHandler})
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="com.example.sakezan.entity.Item">
		UPDATE items 
    	SET drink_name =#{drink_name}, item_code = #{item_code},   price = #{price}, stock = #{stock}, 
      	ideal_stock_weekday = #{ideal_stock_weekday}, ideal_stock_weekend = #{ideal_stock_weekend}, 
      	drink_category = #{drink_category, typeHandler=com.example.sakezan.typehandler.DrinkCategoryTypeHandler} 
    	WHERE item_code = #{item_code}
	</update>
	<!-- 削除 -->
	<delete id="delete">
		DELETE FROM items WHERE item_code = #{item_code}
	</delete>
</mapper>