<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakezan.repository.OrdersMapper">
	<!--全件検索-->
	<select id="selectAll" resultType="com.example.sakezan.entity.Order">
		SELECT *
		FROM items
	</select>
	<!--Item_code検索-->
	<select id="selectByItemCode" resultType="com.example.sakezan.entity.Order">
		SELECT *
		FROM items
		WHERE item_code = #{item_code}
	</select>
	<!--更新-->
	<update id="updateStock" parameterType="com.example.sakezan.entity.Order">
		UPDATE items
		SET stock = #{stock}
		WHERE item_code = #{item_code}
	</update>
</mapper>