<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakezan.repository.OrdersMapper">
	<!--全件検索-->
	<select id="selectAll" resultType="com.example.sakezan.entity.Order">
		SELECT *
		FROM items ORDER BY quantity_id ASC
	</select>
	<!--Item_code検索-->
	<select id="selectById" resultType="com.example.sakezan.entity.Order">
		SELECT *
		FROM items
		WHERE id = #{id}
	</select>
	<!--在庫更新-->
	<update id="updateStock" parameterType="com.example.sakezan.entity.Order">
		UPDATE items
		SET stock = #{stock}
		WHERE id = #{id}
	</update>
	<update id="update" parameterType="com.example.sakezan.entity.Order">
		UPDATE items
		SET stock = #{stock}, order_quantity = #{order_quantity}
		WHERE id = #{id}
	</update>
</mapper>