<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakezan.repository.OrdersMapper">
	<!--全件検索-->
	<select id="selectAll" resultType="com.example.sakezan.entity.Order">
		SELECT * 
		FROM orders
	</select>
	<!--特定の日付のorderを取得する-->
	<select id="selectByDate" resultType="com.example.sakezan.entity.Order">
		SELECT *
		FROM orders
		WHERE DATE(order_date) = DATE(#{orderDate})
	</select>
	<!--登録-->
	<insert id="insert" parameterType="com.example.sakezan.entity.Order">
		INSERT INTO orders (item_code, stock, order_quantity, order_date)
		VALUES (#{item_code}, #{stock}, #{order_quantity}, #{order_date})		
	</insert>
</mapper>