<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>メニュー</title>
<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mt-5">メニュ－画面</h2>
				<div th:text="${#authentication.principal.displayname}">
					新たに追加したdisplayname値に書き換わる
				</div>
				<div class="button-container">
					<a th:href="@{/orders}" class="button-item">
                       <div>酒残へ</div>
                    </a>
                    <a th:href="@{/items}" class="button-item">
                        <div>ドリンク一覧へ</div>
                    </a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" class="button-item">
                        <div>従業員一覧へ</div>
                    </a>
                 </div>
				<!-- ログアウト -->
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="ログアウト" class="btn btn-danger">
				</form>
			</div>
		</div>
	</div>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
